.bg-purple{
    background-color:#c67020 !important;
}

.bg-custom{
    background-color:#7ac0f6 !important;
}

.btn-outline-primary{
    color:#3850ff !important;
}

.orange{
    color:#1e00ff !important;
}

.form-label {
    color:#ffffff !important;
}

.form-text {
    color:#ffffff !important;
}
p{
    color: #c67020!important;
}

a{
    color: #ffffff!important;
}

.bg-main{
    background-image: linear-gradient(rgb(78, 107, 192)35%,rgb(26, 79, 114)60%,rgb(7, 17, 46)) !important;
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

.subtitle {
    font-size:x-large;
}

