.bg-purple{
    background-color:#040a32 !important;
}

/* .bg-custom{
    background-image: url("../background/background.jpg" );
} */

label{
    color: white !important;
}

.btn-outline-primary{
    color:#3850ff !important;
}

.btn-outline-primary:hover {
    color: #fbfbfb !important; /* Cor do texto do botão */

}

.btn-outline-primary:hover a {
    color: #fbfbfb !important; /* Cor do texto do link dentro do botão */
}

.orange{
    color:#1e00ff !important;
}

.form-label {
    color:#ffffff !important;
}

.form-text {
    color:#ffffff !important;
}
p{
    color: #c67020!important;
}

a{
    color: #ffffff!important;
}

.bg-custom{
    background-image: linear-gradient(rgb(24, 25, 28)35%,rgb(30, 44, 82)60%,rgb(37, 58, 123));
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

.subtitle {
    font-size:x-large;
}

.mesDatas{
    color: #ffffff !important;
    padding: 0%;
    margin: 0%;
}

@media  (max-width: 528px){        
.botaodata{
    min-height: 150px;
}
}

